<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        td{
            padding: 10px 30px;
        }
    </style>
    <form style="margin: 300px auto; text-align: center; width: 500px ; width: fit-content; ">
        <table border="1">
            <tr>
                <td>title</td>
                <td><input type="text" id="title" placeholder="title"></td>
            </tr>
            <tr>
                <td>poster</td>
                <td><input type="text" id="poster" placeholder="poster"></td>
            </tr>
            <tr>
                <td>year</td>
                <td><input type="number" placeholder="year"></td>
            </tr>
            <tr>
                <td>rating</td>
                <td><input type="text" id="rating" placeholder="rating"></td>
            </tr>
            <tr>
                <td>Director</td>
                <td><input type="text" id="Director" placeholder="Director"></td>
            </tr>
            <tr>
                <td>durection</td>
                <td><input type="text" placeholder="durection" id="durection"></td>
            </tr>
            <tr>
               <td colspan="2">
                <button id="button" >submit</button>
               </td>
            </tr>
        </table>
    </form>
</body>
</html>